---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
const author = "John Ragozzine";
---
<BaseLayout pageTitle={frontmatter.title}>
  <p>{frontmatter.pubDate.toString().slice(0,10)} &bull; { author }</p>
  <slot />
</BaseLayout>